<%- include("../layouts/header.ejs") %>

<section class="vh-100">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card text-white" style="border-radius: 1rem; background-color: #0b0c10;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>
              <% 
                if(typeof message !== 'undefined'){
                    %>
                    <p style="color: green;"><%= message  %></p>
                    <%
                }
                %>

              <form action="" method="post" enctype="multipart/form-data">

                <div class="form-outline mb-4">
                  <input type="text" name="name" required class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" name="email" required class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="text" name="mno" required class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example3cg">Your mobile number</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="file" name="image" required class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example3cg">Your Email</label>
                  </div>

                <div class="form-outline mb-4">
                  <input type="password" name="password" required class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="d-flex justify-content-center">
                  <input type="submit" value="register" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                </div>

                <p class="text-center text-white mt-5 mb-0">Have already an account? <a href="/login"
                    class="fw-bold text-white"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../layouts/header.ejs") %>



<!-- 

<form action="" method="post" enctype="multipart/form-data">

    <input type="text" name="name" placeholder="enter name" required>
    <br><br>
    <input type="email" name="email" placeholder="enter email" required>
    <br><br>
    <input type="text" name="mno" placeholder="enter mobile number" required>
    <br><br>
    <input type="file" name="image" required>
    <br><br>
    <input type="password" name="password" placeholder="enter password" required>
    <br><br>
    <input type="submit" value="register">
    <br><br>

</form> -->